<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
<h1 style="font-size: 30px">Welcome to Prompto Microservice App</h1> 
<p>Contact me: <a href="https://github.com/PromptoZ9">GithubLink</a></p>
<p>features:</p>
<p>- Password Generator -> /password/</p>
<p>- Sentiment Analysis -> /sentiment_analysis/</p>
<p>- News API -> /news/ </p>
<p>- FNG BTC -> /fng/</p>
<p>- BTC Getter -> /btc_getter/</p>
</body>
</html>